body {
    background-color: #111111;
    color: whitesmoke;
    font-family: Times New Roman;
    text-align: center;
    font-size: 20px;

}

h2 {
    color: orange;
}

.combo,
.target,
.score,
.timer,
.rank-display {
    font-size: 24px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor:pointer;
    background-color: whitesmoke;}

#betlog_ni_invoker {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.orb {
  text-align: center;
}

.orb img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s;
}

.orb img:active {
  transform: scale(0.9);
}

.orb span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
}

}


footer img {
    width: 60px;
    margin: 5px;
}

footer span {
    display: block;
    font-size: 16px;
    margin-top: -5px;
}

.ability-image img {
    width: 120px;
    margin-top: 10px;
    display: none;
}

.rank-display img {
    width: 150px;
    margin-top: 10px;
}